body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-login {
    max-width: 380px;
    margin: 15px auto;
}

.header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.footer {
    margin-top: 17px;
    padding-top: 17px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.weekly-timesheet {
    width: 100%;
    border: 1px solid #e5e5e5;
}

.weekly-timesheet-days {
    font-weight: bolder;
    text-align: center;
}

.weekly-timesheet-days small {
    font-weight: lighter;
}

.weekly-timesheet .weekly-timesheet-row:last-child {
    border-bottom: 0px;
}

.weekly-timesheet-row {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.weekly-timesheet-row:before,
.weekly-timesheet-row:after {
    display: table;
    content: "";
    line-height: 0;
}

.weekly-timesheet-row:after {
    clear: both;
}

.weekly-timesheet-row .weekly-timesheet-cell {
    width: 14.285714285714285%;
}

.weekly-timesheet-cell {
    float: left;
    min-height: 75px;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
}

.weekly-timesheet-cell:last-child {
    border-right: 0px;
}