<form role="form">
    <div class="form-group">
        <label for="task">Task</label>
        <input id="task" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="hours">Hours</label>
        <input id="hours" type="number" class="form-control">
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input id="overtime" type="checkbox">Overtime
        </label>
        <button type="submit" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add
        </button>
    </div>
</form>