<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h4>Name</h4>
            <p>Bart Simpson</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h4>Time</h4>
            <p>
                <ng-pluralize count="totalTime"
                              when="{'one': '{} hour', 'other': '{} hours'}">
                </ng-pluralize>
            </p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h4>Overtime</h4>
            <p>
                <ng-pluralize count="totalOvertime"
                              when="{'one': '{} hour', 'other': '{} hours'}">
                </ng-pluralize>
            </p>
        </div>
    </div>
    <div class="row">
        <ul class="pager">
            <li class="previous">
                <a ng-href="{{previousWeekUrl()}}">&larr; Previous Week</a>
            </li>
            <li>
                <span>Current Week: {{weekEnding | date:'M/d/yyyy'}}</span>
            </li>
            <li class="next">
                <a ng-href="{{nextWeekUrl()}}">Next Week &rarr;</a>
            </li>
        </ul>
    </div>
</div>