<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h4>Name</h4>
            <p>Bart Simpson</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h4>Time</h4>
            <p>8 hours</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h4>Overtime</h4>
            <p>0 hours</p>
        </div>
    </div>
    <div class="row">
        <ul class="pager">
            <li class="previous"><a href="#">&larr; Previous Week</a></li>
            <li><span>Current Week: 8/24/2013</span></li>
            <li class="next"><a href="#">Next Week &rarr;</a></li>
        </ul>
    </div>
</div>