<div class="weekly-timesheet">
    <div class="weekly-timesheet-days weekly-timesheet-row">
        <div class="weekly-timesheet-cell">
            Sunday
            <br>
            <small>9/22</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="weekly-timesheet-cell">
            Monday
            <br>
            <small>9/23</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="weekly-timesheet-cell">
            Tuesday
            <br>
            <small>9/24</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="weekly-timesheet-cell">
            Wednesday
            <br>
            <small>9/25</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="weekly-timesheet-cell">
            Thursday
            <br>
            <small>9/26</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="weekly-timesheet-cell">
            Friday
            <br>
            <small>9/27</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="weekly-timesheet-cell">
            Saturday
            <br>
            <small>9/28</small>
            <br>
            <button class="btn-link">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
    </div>
    <div class="weekly-timesheet-row">
        <div class="weekly-timesheet-cell"></div>
        <div class="weekly-timesheet-cell"></div>
        <div class="weekly-timesheet-cell"></div>
        <div class="weekly-timesheet-cell"></div>
        <div class="weekly-timesheet-cell"></div>
        <div class="weekly-timesheet-cell"></div>
        <div class="weekly-timesheet-cell"></div>
    </div>
</div>